#Yay {
    text-align: center;
    float: center;
}
#space {
    height: 200px;
    
}
html {
    background-image: url(http://www.godishemail.com/Confetti.gif);
    background-size: cover;
background-repeat: no-repeat;
}