#space {
    Height: 100px;
    
}
body {
    background-image: url(http://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/4/5/3/FNM-050111_Cover-0022_s4x3.jpg.rend.hgtvcom.616.462.jpeg);
 background-size:cover;
background-repeat: no-repeat;   
}